.page{
    display: flex;
    flex-direction: row;
}

.content{
    width: 85%;
    padding: 2vh 3vh 0vh 3vh;
}

.top-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-text{
    flex-direction: column;
}

.top-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
}

.profilePicture{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh;
}

.card{
    width: 50vh;
    border-radius: 10vh;

}

#card-text{
    padding: 1vh 3vh 1vh 3vh;

}

.course-image{
    height: 20vh;
    background: url('./images/annie.jpg');
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10vh;
    border-top-left-radius: 10vh;
}